.topnav{
    display: block;
    overflow: auto;
    background-color: greenyellow;
    color:black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 30px;
    padding: 0px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.center{
  text-align: center;
  margin: auto;
  display: block;
}